
*{
	margin: 0;
	padding: 0;	
}
	
html, body{	
	position: relative;
	
	width: 100%;
	height: auto;
	min-height: 100%;
	
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
}


img{
	display: block;
}
	
	
/*Gradient/Image texture to diffuse background*/
html{
	background: rgb(0,1,109); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(0,1,109,1) 1%, rgba(56,0,61,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(0,1,109,1) 1%,rgba(56,0,61,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(0,1,109,1) 1%,rgba(56,0,61,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00016d', endColorstr='#38003d',GradientType=1 ); /* IE6-9 */
	copy
	
	z-index: -10;
}

.bgim{
	width: 100%;
	height: 100%;
	
	position: fixed;
	top: 0;
	left: 0;
	
	background: url("cbg.png");
	
	opacity: 0.3;
	
	z-index: -1;
}

/* TYPESETTING
--------------------------------------------------------*/

/* USE: Page headings*/
h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
}

@media screen and (min-width: 750px) {
	h2{
		font-size: 4em;
		margin: 0 0 20px 0;
	}
}

/*USE: Page subheadings*/
@media screen and (min-width: 750px) {
	h3{
		font-family: 'Montserrat', sans-serif;	
	}
}

h4{
	font-size: .75em;
}

@media screen and (min-width: 750px) {
	h4{
		font-size: 1em;
	}	
}	

a{
	text-decoration: none;
	color: #DFDF03;
}

a:hover{
	color: #D50000;
}

i{
	color: #FFFFFF;
	margin: 40px 40px 0 0;
}

i:hover{
	color: #D50000;
}

p{
	font-family: 'Open Sans', sans-serif;
	margin: 0 0 20px 0;
}

ul{
	margin: 0 0 0 50px;
}

/* GENERAL
--------------------------------------------------------*/

.pagelink{
	text-align: center;
	margin: 20px;
	padding: 10px 0;
	
	border: 1px solid rgba(255, 255, 255, .5);
	border-radius: 4px;
	
	background-color: rgba(255, 255, 255, .1);
	
	width: 200px;
}

.holdme{
	height: 100%;
	width: 95%;	
	background-color: #FFFFFF;		
	padding: 20px 0;	

	display: block;
	overflow: auto;	
	margin: 0 auto;
}

@media screen and (min-width: 830px) {
	.holdme{
		max-width: 80%;
		padding: 100px 0 0 0;
	}
}


/* PORTFOLIO PAGE POSITIONING
--------------------------------------------------------*/

.holdme p, .holdme ul{
	padding: 0 20%;
	color: #111111;
}

.holdme h2, .holdme h3, .holdme h4{
	text-align: center;
	color: #111111;
	margin: 0 100px 80px 100px;
}

.holdme h2{
	font-size: 1.5em;
	border-bottom: 2px solid #111111;
	padding-bottom: 20px;
}

@media screen and (min-width: 750px) {
	.holdme h2{
		font-size: 3em;
	}
}	

.holdme h3{
	margin: 80px 0;
}

.holdme a{
	color: #111111;
}

.holdme img{
	display: block;
	margin: 40px auto;
	width: 85%;
}

/* HEADER, NAV
--------------------------------------------------------*/

.left{
	width: 100%;
	float: left;
}

.nameplate{
	text-align: center;
	width: 100%;	
}

.socialmedia{
	display: none;
}

@media screen and (min-width: 830px) {
		.left{
			position: fixed;
			width: 50%;
			left: 0;
			top: 75px;
		}
}		

			.nameplate{
				text-align: left;
				width: 75%;
				
				margin: 7.5% 0 0 15%;
				
				float: left;
			}
			
			.socialmedia{
				float: left;
				display: block;
				margin: 40px 0 0 0;
			}
			
	
/* PORTFOLIO ITEMS
--------------------------------------------------------*/

.right{
	width: 100%;
	float: left;
	margin: 100px 0 0 0;
}

			.portfolio{
			}
			
				/* Portfolio Article */
				.itemNameplate{
					padding: 10px 0;
					text-align: center;
					margin: 20px 0;	
					
					border: 1px solid rgba(255, 255, 255, .5);
					border-radius: 0 0 4px 4px;
					
					background-color: rgba(255, 255, 255, .1);
					
					width: 99%;
					position: absolute;
					bottom: -20px;
					left: 0;
				}

				.item{
					width: 65%;
					height: 400px;

					position: relative;
					
					border-radius: 5px;
					overflow: hidden;

					margin: 40px auto;
				}
					
				.img{
					height: 89%;
					margin: 0 0 0 -62px;
					z-index: -10;		
				}	
				

@media screen and (min-width: 750px) {
	.right{
		width: 50%;
		float: right;
		margin: 75px 0 0 0;
	}
	
		.portfolio{
			width:  100%;		
			margin: 7.5% 15% 0 0;
			float: right;
		}
		
				.item{
					width: 35%;
					height: 300px;
					
					margin: 0 0 20px 40px;
					float: right;

				}	

					.img{
						height: 85.5%;	
					}
				}	
}

/* ABOUT PAGE
--------------------------------------------------------*/

.skills{
	width: 100%;
	height: 300px;
	border: 1px solid red;
	margin: 0 auto;
	clear: both;
}

.skill{
	padding: 5px 8px;
	float: left;
	margin: 5px;
	max-width: 100px;
	
	border-radius: 5px;
	
	color: #FFFFFF;
	
	
	font-family: /*I'll decide later*/ Arial, sans-serif;
}

ul {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

/*
li{
	list-style: none;
	border: 1px solid #111111;
	text-align: center;
	border-radius: 4px;
	padding: 4px 0;
	margin-bottom: 20px;
	width: 200px;

	background-color: #222233;	
	color: #FFFFFF;
}
/*


/* IMAGE FORMATTING
--------------------------------------------------------*/	

.row img{
		max-width: 75%;
		margin: 40px auto;
}


				.back{
					width: 200px;
					padding: 10px 0;
					text-align: center;
					margin: 50px auto;	
					
					border: 1px solid rgba(11, 11, 11, .5);
					border-radius: 4px;
				}