@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700|Muli:700');
/* Global */

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /*border: 1px solid red;*/
}

h1, h2, h3 {
  font-family: 'Muli', sans-serif;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.project h2 {
  margin-bottom: 5px;
}

.project h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 20px;
}

.name h1 {
  font-size: 48px;
  line-height: 1em;
}

.name h2 {
  font-size: 36px;
  line-height: 1em;
  margin-bottom: 40px;
}

p, li, a {
  margin-top: .5em;
  color:rgba(0,0,0,0.8);
  font-weight: 400;
}

li {
  margin-left: 1em;
}

a {
  font-weight: 700;
  color: #ff4081;
}

a:hover {
  text-decoration: none;
}

/* Homepage */


.project {
  margin-bottom: 80px;
  /*height: 33%;*/
}

.projects a {
  color: rgba(0, 0, 0, 0.8);
}

.projects a:hover {
  transition: color 1s;
  color: rgba(0,0,0,0.5);
}

.project-img {
  height: 33%;
}

.project-img img {
  /*max-width: 80%;*/
  height: 80%;
  display: block;
  margin: 5% auto;
}

.smsav-padding-fix {
  padding-top: 30px;
}

.project-desc {
  padding: 40px 0;
}

.lawbot-homepage {
  margin-top: 40px;
}

.email{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #ff4081;
  background: none;
  border: none;
}

.email {
  font-weight: 700;
}

.every-other {
  background-color: #d3d3d3;
}

.internal-subheader {
  margin: 50px 0;
}

.name {
  /* padding-right: 80px; */
}

.name p {
  line-height: 1.5em;
}

.name a, .name span {
  font-weight: 400;
}

.top-portion {
  width: 480px;
  margin: 0 auto;
}

.interior-heading {
  text-align: center;
  border-bottom: 1px solid #d4d4d4;
}

.full-size-images {
  width:600px;
  background-color: #d4d4d4;
  padding: 40px 0;
}

/* Image layout for internal pages */

.inner-images {
  width: 100%;
  background-color: #d4d4d4;
}

.row img {
  display: block;
  max-height: 300px;
  margin: 40px auto;
}

.subtitle {
  width: 65%;
  margin: 0 auto;
  background-color: #FFF;
  font-style: italic;
  text-align: center;
  margin-bottom: 40px;
}

.internal-image {
  height: 500px;
  float: left;
}

.ii-fixer {
  margin-right: 40px;
}

iframe {
  width: ;
  margin: 0 auto;
  display: block;
  margin: 20px auto;
}

.bolder {
  font-weight: 700;
}

.quote {
  margin-left: 40px;
}

.back {
  text-decoration: none;
  text-align: center;
  background-color: #ff4081;
  color: #FFF;
  border-radius: 4px;
  width: 100px;
  padding: 5px 0;
  margin: 40px auto;
}

.back:hover {
  background-color: #c0392b;
  transition: background 1s;
}

.ks {
  margin-top: -15px;
}

.lawbot-mocked {
  width: 33%;
  float: right;
}

.flowchart {
  margin: 40px auto;
  display: block;
}

.tag {
  padding: 5px 10px;
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  float: left;
  color: #FFF;
  background-color: #777979;
}

.inner-tag {
  border: 1px solid #FFF;
  padding: 5px 10px;
  margin-right: 10px;
  margin-top: 10px;
  display: flex;
  float: left;
  color: #FFF;
  background-color: rgba(255,255,255,0.2);
}

.tags {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.whatever {
  margin: 40px auto;
  width: 50%;
}

.about {
  width: 70%;
  padding: 40px;
}

.about h3 {
  margin-top: 20px;
}

.self-pic {
  width: 30%;
  padding: 60px 0;
}

.about, .skills, .self-pic {
  float: left;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

i {
  margin-right: 15px;
}

.ive-given-up-trying{
  text-align: center;
  margin: 40px 0;
}

/* Blessed Clearfix */

.clearfix:after {
    content:"";
    display:block;
    clear:both;
}


.bingo {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 180px 0 40px 0;
  text-align: center;
}

.bingo p {
  color: #FFF;
}

.role {
  border: 1px solid #FFF;
  padding: 10px;
  margin: 40px;
}


.hbg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(30%);
}

.hbg img {
  min-width: 100%;
  height: 100%;
}

.bg-color-1 {
  background-color: #3C57F8;
}

.bg-color-2 {
  background-color: #FB405F;
}

.bg-color-3 {
  background-color: #33CDCB;
}

.bg-color-4 {
  background-color: #181B23;
}

.bg-color-5 {
  background-color: #CCC;
}

.internal-header {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: #FFF;
}

.hypothetical-tool-tag {
  background-color: #FFF;
  color: #ff4081;
  border-radius: 50px;
  display: flex;
  float: left;
  padding: 5px 10px;
  margin: 0 10px;
}

.content {
  padding: 40px;
}

.header {
  padding-top: 40px;
}

.screen img {
  height: 100%;
  margin: 0;
  padding: 0;
}

.tooltip {
  border-radius: 5px;
  padding: 0;
  height: 20px;
}

.tooltip-inner {
  margin: 0;
}

.homepage {
  padding: 40px;
}

@media screen and (min-width: 720px) {
  .header{
    text-align: right;
  }

  .project-desc {
    padding: 0 120px 40px 40px;
  }
}

@media screen and (min-width: 1000px) {
  .content {
    border-left: 1px solid #BFBFBF;
  }
}

@media screen and (min-width: 1200px) {

}
