/*@import url('https://fonts.googleapis.com/css?family=Righteous');

.lawbot {
  font-family: 'Righteous', sans-serif;
  text-align: center;
  color: #FFF;
}

.lawbot-bottom {
  background-color: #2b333e;
  height: 50%;
}

.lawbot-top {
  background-color: #333c48;
  height: 50%;
}*/
