
.phone {
  position: relative;
  display: table;
  margin: 15px auto;
  background-color: #000;
  padding: 5px 2px;
  border-radius: 10px;
  border: 2px double #AAA;
  -webkit-box-shadow: 4px 4px 20px rgba(40,40,40,0.8);
  -moz-box-shadow:    4px 4px 20px rgba(40,40,40,0.8);
  box-shadow: 4px 4px 20px rgba(40,40,40,0.8);
}

.screen {
  position: relative;
  border: 1px solid #AAA;
  width: 90px;
  height: 160px;
  background-color: #222;
  overflow: hidden;
}

.screen img {
  width: 100%;
  height: 100%;
}

.speaker {
  border-radius: 100px;
  width: 25px;
  height: 2px;
  border: 1px solid #AAA;
  margin: 4px auto;
  background-color: #000;
  position: relative;
}

.camera {
  position: absolute;
  left: -10px;
  top: -4px;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  border: 2px double #333;
  position: absolute;
  background: #000;
}

.home-button {
  border-radius: 2px;
  width: 25px;
  height: 6px;
  margin: 5px auto 0 auto;
  border: 1px solid #AAA;
  background-color: #d4d4d4;
}

.screen-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: -moz-linear-gradient(-45deg, rgba(255,255,255,.2) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(255,255,255,.2) 0%,rgba(255,255,255,0) 100%);
  background: linear-gradient(135deg, rgba(255,255,255,.2 0%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
}

.screen-shadow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
   -moz-box-shadow:    inset 0 0 5px #000;
   -webkit-box-shadow: inset 0 0 5px #000;
   box-shadow:         inset 0 0 5px #000;
}

.phone-insert {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}
