@import url(https://fonts.googleapis.com/css?family=Arimo:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Quicksand|Crimson+Text|Abril+Fatface);

*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', arial, sans-serif;
}

h1, h2, h3, h4, h5, p{
	color: #222;
}

p{
	margin: 0 0 20px 0;
}

h2{
	margin: 100px 0 10px 0;
	font-family: 'Quicksand', Arial, sans-serif;
	font-size: 1.5em;
}

.container{
	padding: 20px auto;
	margin: 100px auto;
}

.text{
		width: 100%;
		border: 1px dashed white;
}

.text:focus{
    outline: none !important;
		border: 1px dashed #00CCCC;
}


.a4{
	width: 383px;
	height: 222px;
	padding: 50px;
	margin: 0 auto;
	box-shadow: 0 0 5px rgba(2, 2, 2, 0.5);
	position: absolute;
	right: 50px;
	bottom: 0;
	text-align: center;
}

.canva-charcoal-orange{
	background-color: #233038;
	color: #ff2b00;
}

.canva-charcoal-orange h6{
	font-size: 2.5em;
	font-family: 'Pacifico', sans-serif;
	margin: 0 0 50px 0;
}

h4{
	text-align: center;
	margin: 50px 0 20px;
}

textarea{
	background: none;
}

.body-text{
	width: 720px;
	padding: 50px;
	margin: 0 auto;
}

.demo{
	width: 854px;
	height: 417px;
	background-image: url("demo.png");
	position: relative;
	margin: 0 auto;
}

.tpd-skin-dark .tpd-content,
.tpd-skin-dark .tpd-title,
.tpd-skin-dark .tpd-close { color: #fff; }
.tpd-skin-dark .tpd-background-content,
.tpd-skin-dark .tpd-background-title {
		background-color: #00c4cc;
}

.turn-off{
	float: right;
	border-radius: 4px;
	border: 1px solid #FFF;
	
	margin-top: 10px;
	padding: 5px;
}


.market-item{
	background-image: url("build.jpg");
	width: 724px;
	height: 584px;
	position: relative;
	margin: 0 auto;
}

.bing{
	position: absolute;
	bottom: 45px;
	left: 35px;
	padding: 5px 10px;
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 4px;
	color: #FFF;
	font-size: .75em;
	box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}


.add-button{
	border-radius:6px;
	padding: 7px;
	border: 1px solid rgba(190, 192, 196, 0.5);
	color: #bec0c4;
	position: absolute;
	top: 139px;
	right: 126px;
	font-size: .7em;
	box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}